
.DS_Store
modules/backupActions.py
modules/backup_virstDST.py
modules/modules/DST.gv
modules/DST.gv.pdf
data/w2v_de_model.bin
data/glove_de_model.bin
data/virst-train.txt
data/virst-train-new.txt
data/virst-hcn-warmup-dehnung_tags.txt
data/virst-hcn-warmup-dehnung.txt
data/tagged_virst_train_some_left_untagged.txt
data/tagged_virst_train.txt
data/tagged_virst_train copy.txt
data/old_virst_train.txt
data/tagged_full_set.txt
DST.gv
DST.gv.pdf
.vscode/
modules/backups/
data/glove_de_model.bin.zip
__pycache__
/.idea

/data/glove_en_model.bin
/germanhcn_dst/summaries/first/
/bert_model.ckpt.data-00000-of-00001
/bert_model.ckpt.data-00000-of-00001.zip
/glove_en_model.bin
/model.ckpt-41.data-00000-of-00001
/model.ckpt-41.data-00000-of-00001.zip
/germanhcn_dst/ckpt/
/germanhcn_dst/uncased_L-12_H-768_A-12/bert_model.ckpt.data-00000-of-00001.README.md
/germanhcn_dst/uncased_L-12_H-768_A-12/bert_model.ckpt.index
/germanhcn_dst/uncased_L-12_H-768_A-12/bert_model.ckpt.meta
/germanhcn_dst/uncased_L-12_H-768_A-12/model.ckpt-41.data-00000-of-00001.README.md
/germanhcn_dst/uncased_L-12_H-768_A-12/model.ckpt-41.index
/germanhcn_dst/uncased_L-12_H-768_A-12/model.ckpt-41.meta
/germanhcn_dst/uncased_L-12_H-768_A-12/vocab.txt
